body {
	background-color: #333;
}
#wrapper{
	width: 1100px;    /* fixed width !! */
	margin: 0px auto;  /* centers the wrapper */
}
.header {	
	position: fixed;
/*	margin-right: auto;
	margin-left: auto;*/
	width: 1090px;
	height: 82px;
	font: "Arial";
	color: #333;
/*	text-align: center;*/
	background-color: #dcdcdc;
	border: 5px solid #F08080;
	z-index: 100;
}
.navigation {
	display: inline-block;
}

.navigation #hdrImg{
	height: 15%;
	width: 15%;
	float: left;
}
/*#guinea{
	float: left;
	padding-left: 15px;
}*/
.move {
	display: inline-block;
	float: left;
	/*position: relative;*/
	padding: 40px 20px 20px 20px;
}
.navigation li {
	display: inline-block;
	float: left;
	position: relative;
	/*padding: 40px 20px 20px 20px;*/
}
.navigation a {
/*	20px 20px 20px;*/
	text-decoration: none;
	font-size: 20px;
	color: #333;
	font-family: 'Bad Script', cursive;
	top: 0px;
}
.navigation h1 {
	padding: 40px 10px 10px 10px;
	float: left;
	font-size: 30px;
	font: "Arial";
}
#twitter {
	height: 10%;
	width: 10%;
}

.main {
	float: left;
	width: 1100px;
	height: 800px;
	background-color: #333;
	position: fixed;
}
.text {
	position: relative;
	float: left;
	margin-top: 100px;
	color: #333;
	background-color: #dcdcdc;
	border: 2px solid green;
	height: 500px;
	width: 70%;
/*	margin-right: auto;
	margin-left: auto;*/
}
 p {
padding-left: 10px;
padding-top: 10px;
}
.links {
	position: relative;
	float: right;
	margin-top: 100px;
	color: #333;
	background-color: #dcdcdc;
	border: 2px solid green;
	height: 500px;
	width: 25%;
	z-index: 120;
/*	margin-right: auto;
	margin-left: auto;*/
}
/*.footer {
	float: left;
	width: 1100px;
	height: 50px;
	background-color: white;
}*/

