body {
	background-color: #333;
}

.header {	
	margin-right: auto;
	margin-left: auto;
	width: 75%;
	height: 100px;

	font: "Arial";
	color: #333;
	text-align: center;
	background-color: #f5f5f5;
}
.logo h1 {
	padding: 5px 5px 5px 5px;
	float: left;
	
}
.logo #hdrImg{
	padding: 5px 5px 5px 5px;
	height: 15%;
	width: 15%;
	float: left;
}

li {
	padding-top: 12px;
	display: inline-block;
	float: left;
	}
a {
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	font-size: 20px;
	color: #333;
}
a:hover {
	color: #F08080;
	font-weight: bold;
}

.main {

}

